<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>My Projects</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='/assets/img/letter-t.svg') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='/assets/img/letter-t.svg') }}"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link
      href="{{ url_for('static', filename='/assets/css/style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <main id="main">
      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-8">
              {% if project %}
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  {% for image in project_images %}
                  <div class="swiper-slide">
                    <img
                      src="{{ url_for('static', filename=image) }}"
                      alt="{{ project.title }}"
                    />
                  </div>
                  {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
              </div>
              {% endif %}
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Project information</h3>
                <ul>
                  <li><strong>Category</strong>: {{project.category}}</li>
                  <li><strong>Project date</strong>: {{project.date}}</li>
                  <li>
                    <strong>Project URL</strong>:
                    <a href="#">{{project.project_url}}</a>
                  </li>
                </ul>
              </div>
              <div class="portfolio-description">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Details Section -->
    </main>
    <!-- End #main -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/static/assets/vendor/aos/aos.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/assets/vendor/typed.js/typed.umd.js"></script>
    <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
<!--    <script src="/static/assets/vendor/email-form/validate.js"></script>-->

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='/assets/js/main.js') }}"></script>
  </body>
</html>
